<h1>Edit Review</h1>

<%= simple_form_for [@movie, @review] do |form| %>
  <div class="form-group">
    <%= form.label :comment, class: 'control-label' %>
    <%= form.text_area :comment, class: 'form-control' %>
  </div>

  <fieldset class="form-group">
    <legend>Rate this post:</legend>
    <div class="form-check">
      <%= form.radio_button :rating, 1, class: 'form-check-input' %>
      <%= form.label :rating, '1 Star', class: 'form-check-label' %>
    </div>
    <div class="form-check">
      <%= form.radio_button :rating, 2, class: 'form-check-input' %>
      <%= form.label :rating, '2 Stars', class: 'form-check-label' %>
    </div>
    <div class="form-check">
      <%= form.radio_button :rating, 3, class: 'form-check-input' %>
      <%= form.label :rating, '3 Stars', class: 'form-check-label' %>
    </div>
    <div class="form-check">
      <%= form.radio_button :rating, 4, class: 'form-check-input' %>
      <%= form.label :rating, '4 Stars', class: 'form-check-label' %>
    </div>
    <div class="form-check">
      <%= form.radio_button :rating, 5, class: 'form-check-input' %>
      <%= form.label :rating, '5 Stars', class: 'form-check-label' %>
    </div>
  </fieldset>

  <div class="form-group">
    <%= form.button :submit, 'Update Review', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back to Movie', movie_path(@movie), class: 'btn btn-secondary' %>
